@import "../../vars.css";

.budget-details {
    top: 0 !important;
}

.budget-overview {
    border-bottom: 1px solid var(--border);
}

.budget-overview-disclamer {
    display: block;
    margin-bottom: 10px;
}

.budget-details .budget-cards {
    margin: 10px 0;

    & > .card {
        display: inline-block;
        vertical-align: top;
        width: calc(33% - 10px);
        margin: 5px 5px;
    }
}

.tablet {
    & .budget-details .budget-cards > .card {
        width: calc(50% - 10px);
    }
}

.mobile {
    & .budget-details .budget-cards > .card {
        width: 100%;
        margin: 5px 0;
    }
}

.budget-list .budget-list-item {
    margin-bottom: 10px;
}

.budget-list .budget-list-item:last-child {
    margin-bottom: 0;
}

.budget-details {
    display: flex;
}

.budget-details-header .filters {
    display: flex;
    margin-top: 10px;
}
.budget-details-header {
    margin: 10px 0;
}