@import "../../vars.css";

.product-selector-container {
    display: inline-block;
    width: calc(33.3% - 10px);
    height: 130px;
    margin: 5px;
}

.product-selector-container .info-container {
    flex: 1;
}

.product-selector-container .info-container .product-category {
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    color: var(--primary-text);
}

.product-selector-container .info-container .product-name {
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    color: var(--primary-text);
}

.product-selector-container .info-container .product-description {
    margin-top: 13px;
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    color: var(--primary-text);
}

.product-selector-container:hover {
    background: var(--background-alt-hover);
}
