@import "../../vars.css";

.layout {
    height: 100%;
}

.layout-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: var(--navigation-collapsed-width);
    top: 0;
    bottom: 0;
    right: 0;
    padding: 15px;
}

.layout.navigation-hidden .layout-content {
    left: 0;
}

.layout-content .header-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.layout-content .header-container  .title {
    font-size: var(--heading-text-size);
    font-weight: bold;
}

.layout-content .profile-menu {
    margin-left: auto;
}
