@import "../../vars.css";

.customer-info-modal {

    & .close-customer-info-modal {
        position: absolute;
        top: 25px;
        right: 10px;
    }

    & .customer-name {
        &.name {
            margin-top: 3px;
        }
    }

    & .info-section {
        display: flex;
        flex-direction: column;
        margin: 30px 0;

        & .customer-location {
            margin-top: 10px;
        }

        & .customer-contact-name {
            margin-top: 10px;
        }

        & .customer-link {
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        & .customer-icon {
            color: var(--icon-dark);
            margin-right: 5px;
        }

        & .customer-link.phone {
            line-height: 20px;
            text-decoration: none;
        }

        & .customer-link.email {
            margin: 20px 0;
        }

        & .detail {
            margin-top: 10px;
        }

    }
}



