@import '../../vars.css';

.tools-wrapper {
    position: relative;
    top: -1px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    background: var(--background-alt);
    border-top: none;
    box-shadow: none;
    border-radius: 0px 0px 10px 10px;
}

.tools-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0 !important;
    overflow: hidden;
    justify-content: center;
}

.tools-column {
    display: inline-block;
    vertical-align: top;
    width: calc(33.3% - 10px);
}

.tools-container .tool {
    margin: 10px 0;
    max-height: unset;
}

.tool .content-container {
    display: block;
}

.service-item {
    cursor: alias;
}

.desktop .tools-column {
    &:nth-child(2) {
        margin: 0 13px;
    }
}

.tablet .tools-column {
    width: calc(50% - 10px);

    &:nth-child(1) {
        margin-right: 13px;
    }
}

.mobile .tools-column {
    width: calc(100% - 5px);
}
