@import "../../../vars.css";

.image-cirle {
    width: 60%;
    height: 75%;
    box-sizing: border-box;
    border-radius: 100%;
    cursor: inherit;
}

.tablet .image-cirle {
    width: 75%;
}

.image-cirle img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
    background: white;
    cursor: inherit;
}
