
.services-card-container {
    position: relative;
    display: block;
    width: calc(100% / 3 - 20px);
    height: auto;
    padding: 10px;
    margin: 8px;
    box-shadow: 0px 0px 5px 0px #B0B0B0;
    border-radius: 5px;
    cursor: pointer;

    & .help-container {
        position: absolute;
        top: 0;
        right: 0;
        margin: 5px 5px 0 0;
    }

    & .services-card-first-row {
        display: flex;
        cursor: inherit;

        & .services-card-image {
            width: 56px;
            height: 56px;
            min-width: 56px;
            box-sizing: border-box;
            border-radius: 100%;
            cursor: inherit;
        }

        & .services-card-headlines {
            display: flex;
            max-width: 75%;
            flex-direction: column;
            margin: 5px 0 0 5%;
            cursor: inherit;
            padding-right: 5px;

            & .services-card-title {
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 160px;
                display: block;
                overflow: hidden;
                color: #9B9B9B;
            }

            & .services-card-second-title {
                word-break: break-word;
                display: block;
                overflow: hidden;
                color: #283238;
                -webkit-font-smoothing: antialiased;
            }
        }
    }

    & .services-card-second-row {
        margin: 0px 20px 0 calc(5% + 54px);
        cursor: inherit;

        & .text {
            -webkit-font-smoothing: antialiased;
        }
    }
}

@media (max-width: 1024px) {
    .services-card-container {
        & .services-card-first-row {
            & .services-card-image {
                width: 46px !important;
                height: 46px;
                min-width: 46px;
            }
        }

        & .services-card-second-row {
            margin: 0px 20px 0 calc(5% + 47px);
            overflow: hidden;
            word-break: break-word;
        }

        & .services-card-second-title {
            font-size: 14px;
        }
    }
}
