.slick-slider {
    position: relative;
    display: flex;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
    text-align: center;
    padding: 0px 20px;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}
.slick-track {
    min-width: 1500px;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}


.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow {
    position: absolute;
    width: 30px;
    height: 100%;
    cursor: pointer;

    &::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 100%;
        background: silver;
    }

    &:after {
        content: '';
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 5px solid #000;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 0;
        height: 0;
        margin: auto 0;
    }

    &.slick-prev {
        left: 0;

        &::before {
            left: 5px;
        }

        &::after {
            left: 0;
        }
    }

    &.slick-next {
        right: 0;

        &::before {
            right: 5px;
        }

        &::after {
            right: 0;
            transform: rotate(180deg);
        }
    }
}
