@import "../../vars.css";

.budget-new-container {
    padding: 4px;;
    margin: 3px;
    border-radius: 10px;
    min-height: 69px;
}

.budget-new-container.selected {
    border: 2px solid var(--accent);
    background: var(--background-alt);
}

.budget-new-card {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.budget-new-card .budget-new-card-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.budget-new-card .budget-new-badge {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
.budget-new-card .budget-new-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 147px;
    display: block;
    overflow: hidden;
    text-align: left;
}

.budget-new-card .budget-new-period {
    margin-left: auto;
    color: var(--accent);
}

.budget-new-card .budget-new-progress {
    margin-bottom: 2px;
}

.budget-new-card .budget-new-progress-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.budget-new-card .budget-new-link {
    display: flex;
    align-items: center;
    margin-left: auto;
    color: var(--accent);
    cursor: pointer;
}

.budget-new-card .budget-new-info-container {
    display: flex;
    flex-direction: column;
}

.budget-new-amount-text {
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border);
}

