@import "../../vars.css";

.navigation-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.navigation-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: var(--navigation-collapsed-width);
    height: 100%;
    overflow: hidden;
    z-index: 1001;
    background: var(--accent);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 2px 0 6px 0 var(--box-shadow);
    transition: all 0.3s ease;
}

.items-container {
    flex: 1;
}



.nav-item {
    box-sizing: border-box;
    font-size: var(--big-text-size:);
    color: #fff;

    &.is-link {
        cursor: pointer;

        & .nav-item-wrapper {
            cursor: pointer;
        }

        & .nav-item-label {
            cursor: pointer;
        }

        & .nav-icon {
            cursor: pointer;
        }
    }
}

.nav-item-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    text-decoration: none;
    text-align: center;
    padding: 16px 0;

    &::after {
        content: '';
        position: absolute;
        top: calc(100% - 1px);
        left: 0;
        width: 100%;
        height: 1px;
        margin: 0 auto;
        background: var(--icon-light);
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.7;
    background: var(--overlay);
    z-index: 1;
}

.navigation-wrapper.expanded {
    right: 0;
}

.navigation-wrapper.expanded .nav-item-wrapper {
    justify-content: flex-start;
}

.navigation-wrapper.expanded .navigation-container {
    width: var(--navigation-expanded-width);
}

.navigation-container .toggle-button {
    display: flex;
    align-items: center;
    flex: 0 0 50px;
    cursor: pointer;
}

.navigation-container .nav-icon {
    color: var(--icon-light);
    cursor: pointer;
}

.navigation-container .nav-item.selected {
    background: #fff;
    color: var(--accent);
}

.navigation-container .nav-item.selected .nav-icon {
    color: var(--accent);
}

.navigation-container .nav-item .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-container .nav-item .nav-item-label {
    text-align: left;
    margin-left: 10px;
    text-transform: uppercase;
    font-size: var(--big-text-size:);
}

.nav-item.navigation-header {
    margin-bottom: 12px;

    & .nav-item-wrapper::after {
        visibility: hidden;
    }
}

.navigation-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.navigation-wrapper.expanded .navigation-footer {
    align-items: flex-end;
    margin-right: 15px;
}

.navigation-footer .navigation-link {
    color: var(--accent-alt);
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.navigation-footer .navigation-link:hover {
    text-decoration: underline;
}

.footer-container {

    & .menu-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 26px;
        height: 26px;
        border: 1px solid white;
        border-radius: 100%;
        font-weight: bold;
        font-size: 11px;
        color: white;
    }

    &::before {
        content: '';
        position: absolute;
        /* top: calc(50% - 10px); */
        width: calc(100% - 20px);
        height: 1px;
        margin-left: 10px;
        background: var(--accent-alt);
    }
}



