@import "../../../vars.css";

.modal {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    background-color: #E7E9EB;
    border-radius: 5px;
}

.modal-container {
    position: relative;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 40px);
    height: calc(100% - 70px);
    border: 1px solid var(--border);
    border-radius: 6px;
    background: var(--background-alt);
    
}

.modal-container .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    font-size: var(--heading-text-size);

    & .icon {
        border-radius: 100%;
        width: 28px;
        height: 28px;
        color: var(--accent-alt);
        background: var(--accent);
    }
}

.modal.large-content {
    & .modal-header {
        padding-bottom: 10px;
        border-bottom: none;
    }

    & .modal-content {
        padding: 0;
    }
}

.modal-container .modal-content {
    flex: 1;
    font-size: var(--button-text-size);
    white-space: pre-line;
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}

.modal-buttons .button {
    margin: 0px 20px 20px 0px;
    height: 36px;
    width: 160px;
}

.modal .close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 35px;
    z-index: 9999;
}

.modal .modal-badge {
    position: absolute;
    top: -30px;
    background: var(--background-alt);
}
