@import '../../vars.css';


.product-section-selected-product {
    padding: 8px;
    background-color: #ffffff;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid #d8d8d8;
    border-bottom: none;
}

.product-section-not-selected-product {
    padding: 8px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #d8d8d8;
}

.product-section-cards {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;

    & .product-card {
        & .image-cirle {
            width: 5vw;
            height: 5vw;
        }
    }

    & .col {
        padding: 0 0.5vw;
    }

    & .col-left {
        flex: 0 0 10%;
        max-width: 10%;
    }

    & .col-right {
        flex: 0 0 90%;
        max-width: 90%;
    }

    & .col-full {
        flex: 0 0 100%;
        max-width: 100%;
    }

    & .slick-slider {
        padding: 0 15px;

        & .slick-slide {
            padding: 0 0.5vw;
        }
    }
}

.product-section-overview {
    text-align: center;
    position: relative;

    & .product-section-name {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    & .product-section-title {
        color: var(--color-red);
    }
}
