@import '../../../vars.css';

.progress-bar-container {
  width: 100%;
  height: 10px;
  border: 1px solid var(--border);
  border-radius: 5px;
  background: var(--dashboard-color);
}

.progress-bar-container .progress-green{
  height: 100%;
  border-radius: 20px;
  background: var(--green); 
  animation: animate-progress 2s;
}

.progress-bar-container .progress-orange {
  height: 100%;
  border-radius: 20px;
  background: var(--orange);
  animation: animate-progress 2s;
}

.progress-bar-container .progress-red {
  height: 100%;
  border-radius: 20px;
  background: var(--color-red);
  animation: animate-progress 2s;
}

@keyframes animate-progress
{
   0%
   {
      width: 0;
   }
}

