@import "./vars.css";

html,
body,
#app,
.desktop,
.tablet,
.mobile {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background: var(--background);
	color: var(--primary-text);
	font-size: var(--regular-text-size);
}

ul {
    padding: 0;
}

::placeholder {
	color: gray;
}

* {
	color: inherit;
    cursor: default;
	box-sizing: border-box;
	font-family: "Roboto", "Arial", sans-serif;
}

.primary-text-color {
    color: var(--primary-text);
}

.secondary-text-color {
    color: var(--secondary-text);
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.alert-no-budgets {
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    font-size: var(--title-text-size);
}
