:root {
    --background: #f3f4f6;
    --background-alt: #ffffff;
    --background-alt-hover: rgba(198, 200, 203, 0.1);
    --background-alt-active: rgba(198, 200, 203, 0.2);
    --orange: #ffa500;
    --green: #008000;
    --dashboard-color: #E7E9EB;
    --box-shadow: rgba(0, 0, 0, 0.2);
    --primary-text: #2f3036;
    --secondary-text: #9b9b9b;
    --accent: #e71e2c;
    --accent-alt: #ffffff;
    --border: #d8d8d8;
    --icon-dark: #9b9b9b;
    --icon-light: #ffffff;
    --overlay: #c2c4c6;
    --under-line: rgba(198, 200, 203, 0.2);
    --success: #63c15d;
    --warning: #f7c57b;
    --error: #c14236;
    --input-error: #f44336;
    --progress: #99e71e;
    --black: #000000;

    --small-text-size: 12px;
    --regular-text-size: 12px;
    --button-text-size: 14px;
    --title-text-size: 16px;
    --heading-text-size: 18px;
    --big-text-size: 18px;

    --navigation-collapsed-width: 56px;
    --navigation-expanded-width: 265px;

    --color-red: #F42026;
}
