.investment-details-container {
    margin: 20px 65px 0px 35px;

    & .investment-details-title {
        margin: 10px 0px 20px;
    }
    & .investment-details-content {
        display: flex;
        padding: 40px 0px 20px;

        & .investment-details-select {

            background-color: white;
            width: auto;
            height: 25px;
            margin-left: 15px;
            text-align-last: right;

            & option {
                direction: rtl;
            }

            & .investment-details-text {
                margin:1px;
            }
        }
        & .investment-details-sum-labels {     
            width: 100%;
            text-align: right;

            & .investments-details-amount {
                padding-right: 20px;
            }
        }
    }

}