@import '../../vars.css';

.tool-details {
    margin: 20px;
    display: block;
}

.tool-details .heading {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
}

.tool-details .tool-description {
    margin-top: 20px;
}

.tool-details .tool-details-content {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}
.tool-details .services {
    padding: 60px 0px
}

.services .services-title {
    display: inline-flex;
    width: 100%;
    line-height: 30px;
    border-bottom: 1px solid var(--border);
    padding: 0px 20px
}
