.product-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    box-shadow: 0px 0px 5px 0px #000000;
    border-radius: 10px;
    background-color: #fff;
    width: 100%;
    height: 8.0015vw;
    text-align: center;
    overflow: hidden;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    @media only screen and (max-width: 768px) {
        height: 7vw;
    }

    & .title {
        margin-top: 5px;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 50px;
        display: block;
        overflow: hidden;
    }
}

.selected-product {
    border: 2px solid red;
}
