@import '../../../vars.css';

.list-item {
    align-items: center;
    display: flex;
    height: 73px;
    padding: 8px 15px;
    border-bottom: 1px solid var(--border);
    cursor: pointer;
}

.list-item .list-item-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 8px;
    word-break: break-word;
    cursor: inherit;
}

.list-item-arrow {
    margin-left: auto;
}

.list-item-icon {
  width: 56px;
  height: 56px;
  margin-right: 8px;
}

.list-item-url {
    display: flex;
    text-decoration: none;
    flex: 1;
    align-items: center;
    cursor: inherit;
}
.list-item .list-info-icon {
    margin-right: 20px;
    color: var(--color-red);
    font-size: 30px;
}

.list-item .list-arrow-right {
    margin-left: 20px;
    color: var(--black);
    font-size: 30px;
}
