@import "../../../vars.css";

.badge-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    padding: 3px;
    border: 1px solid var(--border);
    border-radius: 100%;
    box-sizing: border-box;
}
