@import '../../vars.css';

.dashboard {
    position: absolute;
    top: 9px;
    bottom: 0;
    left: 9px;
    right: 9px;
    height: calc(100% - 18px);
    background-color: var(--dashboard-color);
}

.dashboard-content {
    display: block;
    flex: 1;
}

.investments-filter {
    margin-top: 20px;
    background-color: var(--background);

    & .investments-filter__buttons-container {
        margin-top: 15px;
        margin-bottom: 10px;

        & .button { margin-left: 10px; }
        & .button:first-child { margin-left: 0; }

        & .--unactive {
            background: var(--background-alt);

            & .text {
                color: var(--primary-text);
            }
        }
    }
}

.investments-filter-content {
    /*flex: 1;*/
    flex-direction: column;
    overflow: hidden;
}

.selected-customer {
    margin-bottom: 15px;
}

.dashboard-button {
    white-space: nowrap;
}

.dashboard .first-row {
    margin-bottom: 20px;
}

.dashboard .second-row {
    position: relative;
    /*display: flex;*/
    min-height: 50px;
    background: var(--background-alt);
}

.dashboard .third-row {
    /* position: relative; */
}

.customer-info-modal {
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: auto;
    width: 100%;
    height: calc(100vh - 52px);
    padding: 20px;
    background: var(--background-alt);
    border-radius: 5px !important;
    z-index: 9999999;
}

.tools-title-content {
    background:white;
    border: 1px solid #d8d8d8;
    border-bottom: none;
    border-top: none;
    padding: 20px 34px 20px 25px;

    & .tools-title {
        overflow: hidden;
        text-align: center;
    }

    & .tools-title:before,
    & .tools-title:after {
        background-color: #d8d8d8;
        content: "";
        display: inline-block;
        height: 2px;
        position: relative;
        vertical-align: middle;
        width: 46%;
    }

    & .tools-title:before {
        right: 50px;
        margin-left: -50%;
    }

    & .tools-title:after {
        left: 50px;
        margin-right: -50%;
    }
}
