@import "../../../vars.css";

.help-container {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--accent);
    cursor: pointer;
}

.help-container .icon-wrapper {
    display: flex;
    align-items: center;
}

.help-container .help-text {
    margin-left: 5px;
    color: var(--secondary-text);
    text-transform: uppercase;
    cursor: pointer;
}

.help-container .help-url {
    text-decoration: none;
}
