.select-customer {
    display: flex;
    height: 100%;
}

.select-customer .customers-list {
    flex: 1;
}

.select-customer .customer-info {
    flex: 2;
    border-left: 2px solid whitesmoke;
    padding: 95px 0px 0px 60px;
}
