@import "../../vars.css";

.investments-list-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.investment-list-sum-labels {
    text-align: right;
    padding: 50px 0px 35px;
}
.investments-list-amount {
    padding-right: 20px;
}
.investment-list-labels {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}
.investment-content {
    overflow-y: hidden;
    justify-content: space-between;
}

.investment-list-item {
    padding: 15px 0px;
    border-bottom: 1px solid lightgray;;
    display: flex;
    
}

.list-header {
    border-bottom: 1px solid var(--border);
}

.investment-detail.link,
.investment-detail.link > span {
    align-items: center;
    text-decoration: none;
    display: flex;
    width: 100%;
}

.investment-detail.link .link-icon {
    margin-right: 15px;
    color: var(--accent);
}
.investment-list-item-content {
    width: 100%;

    & .investment-detail-items {
        display: flex;
        width: 100%;

        & .investment-detail-sub-budget-name {
            flex-basis: 25%;
            min-width: 25%;
        }

        & .investment-detail-name {
            flex-basis: 27%;
            min-width: 27%;
        }

        & .investment-detail-title {
            flex-basis: 24%;
            min-width: 24%;
        }

        & .investment-detail-date-time {
            flex-basis: 17%;
            min-width: 17%;
        }

        & .investment-detail-amount {
            flex-basis: 7%;
            min-width: 7%;
            text-align: right;
        }
    }
    & .investment-items {
        display: flex;
        width: 100%;

        & .investment-name {
            flex-basis: 35%;
            min-width: 35%;
        }

        & .investment-title {
            flex-basis: 32%;
            min-width: 32%;
        }

        & .investment-date-time {
            flex-basis: 20%;
            min-width: 20%;
        }

        & .investment-amount {
            flex-basis: 13%;
            min-width: 13%;
            text-align: right;
        }
    }
    
}
