@import "../../vars.css";

.budget-container {
    width: 300px;
    padding: 8px;
    border-radius: 10px;
}

.budget-container.selected {
    border: 2px solid var(--accent);
    background: var(--background-alt);
}

.budget-card {
    display: flex;
    flex-direction: column;
    overflow-y: unset;
}

.budget-card .budget-card-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.budget-card .budget-badge {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.budget-card .budget-period {
    margin-left: auto;
    color: var(--accent);
}

.budget-card .budget-progress {
    margin-bottom: 10px;
}

.budget-card .budget-progress-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.budget-card .budget-amount {
    font-weight: bold;
    text-align: center;
}

.budget-card .budget-total {
    margin-left: auto;
}

.budget-card .budget-link {
    display: flex;
    align-items: center;
    margin-left: auto;
    color: var(--accent);
    cursor: pointer;
}

.budget-card .budget-info-container {
    display: flex;
    flex-direction: column;
}

.budget-amount-text {
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border);
}

