@import "../../../vars.css";

.card {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 1px solid var(--border);
    border-radius: 5px;
    box-shadow: 2px 2px 6px 0 var(--box-shadow);
}

.card.selected {
    background: var(--background-alt-active);
}

.card .title-container {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--border);
}

.content-container {
    display: flex;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
