.details-container {
    margin: 20px 65px 0px 35px;

    & .details-budget-name {
        margin: 10px 0px 20px;
    }

    & .details-budget-progress {
        height: 20px;
        border-radius: 20px;
    }

    & .details-amounts {
        margin-top: 10px;
       & .details-amount {

       }

       & .details-percentage {

       }
    }
    & .budget-modal-sum-labels {
        text-align: right;
        padding: 50px 0px 35px;
    }
    & .budget-modal-details-amount {
        padding-right: 20px;
    }
}