@import '../../vars.css';

.investments {
    margin-top: 20px;
    background: var(--background-alt);
}

.investments-content {
    display: block;
}

.investment-section {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    padding: 0 15px;

    &.investment-section--double {
        width: 60%;

        & > div {
            display: inline-block;
            vertical-align: top;
            width: 60%;
            padding: 0 15px;

            &:first-child { padding-left: 0 }
            &:last-child { width: 40%; padding-right: 0 }
        }
    }

    &:first-child { padding-left: 0 }
    &:last-child { padding-right: 0 }
}

.investment-section__data {
    margin-top: 20px;

    &.is-flex {
        flex: 1;
        display: flex;
        flex-direction: row;
     }
}

#investments-year-chart {
    max-width: 400px;
    max-height: 200px;
}

#investments-category-chart {
    margin-right: 30px;
    max-width: 200px;
    max-height: 200px;
}

.investment-services__list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.investment-services__list li {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px 5px 0;
    line-height: 20px;
}

.investment-services__list li .investment-services-icon {
    position: relative;
    top: 3px;
    font-size: 15px;
    color: red;
    margin-right: 8px;
}

.investment-services__list li > span:nth-child(2),
.investment-services__list li > strong {
    flex: 0 0 60px;
    margin-left: 10px;
    text-align: right;
}

.investment-services__list li > div > span:nth-child(2) {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 3px;
}

.investment-services__list li em {
    display: inline-block;
    width: 30px;
    font-style: normal;
    text-align: right;
    margin-right: 3px;
}

.investment-services__list--simple li strong {
    flex: 0 0 30px;
    margin-left: 10px;
    text-align: right;
    font-style: normal;
}

.investment-services__list li:last-child {
    border-top: 2px solid var(--under-line);
    padding-left: 0;
}

@media (max-width: 1399px) {
    .investment-section {
        padding: 0;
    }

    #investments-category-chart {
        max-width: 120px;
        max-height: 120px;
        margin-right: 15px;
    }
}

@media (max-width: 1119px) {
    .investment-section {
        width: 100%;

        &.investment-section--double {
            width: 100%;
            margin-top: 30px;
        }
    }

    .investment-section__data {
        flex-direction: column;
        align-items: center;
    }

    #investments-category-chart {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .investment-section {
        width: 100% !important;
        padding: 0;

        &:first-child { margin-bottom: 30px }
    }

    #investments-category-chart {
        margin: 0;
    }
}
