@import "../../../vars.css";

.input {
    position: relative;
    width: 100%;
    padding-top: 5px; /* Material input label is cut if this is 0 */
}

.input-root {
    height: 45px;
}

.input-error {
    margin-top: 5px;
    color: var(--input-error);
}

/* Removes yellow background from autocomplete forms */
@-webkit-keyframes autofill {
    to {
        color: var(--primary-text);
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

input:-internal-autofill-previewed,
input:-internal-autofill-selected,
textarea:-internal-autofill-previewed,
textarea:-internal-autofill-selected,
select:-internal-autofill-previewed,
select:-internal-autofill-selected {
    color: var(--primary-text) !important;
    background: transparent !important;
}
