@import '../../../vars.css';

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner,
.spinner:after {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.spinner {
    margin: 10px auto;
    border: 3px solid color(var(--primary-text) alpha(-90%));
    border-left: 3px solid var(--secondary-text);
    transform: translateZ(0);
    animation: spinner .8s infinite linear;
    will-change: transform;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
