@import "../../vars.css";

.product-details {
    position: relative;
    height: 60px;
}

.product-details .label-container {
    position: absolute;
    top: 12px;
    left: 30px;
    display: flex;
    align-items: center;
    height: 36px;
    padding-right: 10px;
    padding-left: 40px;
    border: 1px solid var(--border);
    border-radius: 18px;
    background: var(--background-alt);
}

.product-details .product-badge {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.product-details .delete-product {
    margin-left: 10px;
    padding: 0 10px;
    border-left: 1px solid var(--border);
}

.delete-product svg {
    cursor: pointer;
}
