@import '../../vars.css';

.support-card-title {
    display: flex;
    align-items: center;
}

.support-card-title .support-icon {
    margin-right: 5px;
}

.support-card-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.support-card-content .support-button {
    width: 285px;
}


.support-card-content .support-button-text {
    color: var(--accent);
    text-align: center;
    width: 100%;
}

.support-card-content .support-button a {
    text-decoration: none;
}

.support-card-info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}


.support-card-info .support-text {
    margin-top: 20px;
    color: var(--black);
}

.support-card-image {
    float: left;
}

.mail-link {
    cursor: pointer;
    width: 100%;
    align-items: center;
    display: flex;
}
