@import '../../vars.css';

.user-profile,
.user-profile .menu-icon,
.user-profile svg {
    cursor: pointer;
}

.profile-menu-container,
.user-profile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .profile-menu-container  */
/* .menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border: 2px solid white;
    border-radius: 100%;
    font-weight: bold;
    color: white;
} */

.profile-menu-container .menu-arrow {
    color: var(--accent);
}

.user-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    padding-top: 10px;
    white-space: nowrap;
    color: var(--primary-text);
    z-index: 10;

    & .user-dropdown-content {
        background: white;
        border-radius: 5px;
        box-shadow: 2px 2px 6px 0 var(--box-shadow);
    }

    & .user-dropdown-content > div {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        cursor: pointer;
    }

    & .user-dropdown-content .icon {
        margin-right: 10px;
    }

    & .user-dropdown-content .devider {
        padding: 0;
    }
}

.user-profile.dd-visible .menu-icon {
    background: var(--accent);
    color: white;
}
