@import '../../vars.css';

.customers-list {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 40px 20px 20px 20px;
}

.customers-list .input {
    margin-bottom: 30px;
}

.customers-results {
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.customer-list-item {
    padding: 10px 20px;
    font-size: var(--button-text-size);
    color: var(--secondary-text);
    border-bottom: 1px solid var(--under-line);


    &:hover {
        background: var(--background-alt-hover);
    }

    &.active,
    &:active {
        background: var(--background-alt-active);
    }
}

.customer-list-item .number {
    font-weight: 500;
}

.customer-list-item .name {
    margin: 5px 0;
    font-size: var(--heading-text-size);
}

.customer-list-item .address {
    font-weight: 500;
}

.customer-search {
    margin-bottom: 15px;
    border: 2px solid red;
    border-radius: 30px;
        
    & .customer-search-input {
        width: 75%;
        position: relative;
        padding: 10px 0;
        left: 15px;
        border: none;
        font-size: 12px;
        outline: none;
    }

    & .customer-search-icon {
        position: relative;
        top: 4px;
        float: right;
        color: red;
        right: 14px;
        font-size: 28px;
    }
}