.message-container {
    max-width: 100%;
    background-color: #F3F4F6;
    border: 1px solid red;
    border-radius: 6px;
    margin-bottom: 20px;
}

.message-container.primary {
    background-color: #FFFFFF;
    border-color: transparent;
    padding: 12px 0 12px 0;
}

.message-container .message-close-icon {
    float: right;
    margin: 16px;
    font-size: 24px;
}

.message-container .message-text {
    margin: 20px;
}

.message-container .message-text.error span {
    color: red;
}

.message-container .message-text a {
    cursor: pointer;
}

.message-container .message-first-row {
    color: #e71e2c;
}

.message-container .message-logo {
    float:left;
    left: 0;
    max-height: 70px;
}

.message-container .message-logo img {
    margin-top: 0px;
    margin-left: 12px;
    margin-right: 12px;
    max-height: 68px;
}
