@import '../../../vars.css';

.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
}

.filter.selected {
    color: var(--accent);
    border: 1px solid var(--accent);
}

.filter > svg {
    margin-right: 5px;
}
