@import "../../vars.css";

.customer-details {
    position: relative;
}

.customer-details-container {
    display: flex;
}

.customer-detail {
    flex: 1;
    padding: 10px;
    border-right: 1px solid var(--border);
}

.customer-detail .info {
    & .label {
        display: block;
    }

    & .value {
        display: block;
        font-size: var(--title-text-size);
    }
}

.customer-details-container .close-icon {
    flex: 0 0 auto;
    padding: 13px 0 13px 10px;
}

.customer-name {
    position: relative;
    display: flex;
    align-items: center;
    flex: 2;
    padding-left: 0;
    text-transform: uppercase;
    text-decoration: none;
}

.customer-detail .label {
    text-transform: none;
}

.customer-detail .right-node {
    margin-left: auto;
}

.customer-detail.cutomer-budget {
    color: var(--accent);

    & .value {
        font-weight: bold;
    }
}

.customer-detail .customer-link {
    display: flex;
    text-decoration: none;
    flex: 1;
}

.customer-name .label,
.customer-name .value,
.cutomer-budget .label,
.cutomer-budget .value,
.right-node .arrow-down {
    cursor: pointer;
}
