@import '../../../vars.css';

.button {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    padding: 0 18px;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    border-radius: 18px;
    text-decoration: none;
    cursor: pointer;

    & .icon:first-child {
        margin-right: 10px;
        cursor: pointer;
    }
}

.button.full-width {
    width: 100%;
    flex: 1;
}

.button.outlined {
    color: var(--accent);
    border: 1px solid var(--accent);
    background: var(--background-alt);
}

.button.contained {
    color: var(--accent-alt);
    background: var(--accent);
}

.button.contained .text {
    color: var(--accent-alt);
    text-transform: uppercase;
    font-weight: normal;
}

.button.close .text {
    color: var(--accent);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
}

.button .text {
    cursor: pointer;
}
