@import '../../vars.css';

.section-container {
    padding: 8px;
    margin-bottom: 20px;
    background-color: var(--background-alt);
    border-radius: 10px;
    border: 1px solid var(--border);

    & .section-title {
        margin-bottom: 15px;
    }

    & .section-expand-button {
        text-align: center;
        position: relative;
        width: 36px;
        height: 36px;
        bottom: -36px;
        left: 50%;
        margin-top: 10px;
        background-color: var(--background);
        border-radius: 20px;
        border: 1px solid var(--border);
        transform: translate(-50%, -30%);
    }

    & .section-expand-button-up {
        height: 36px;
        transform: rotate(-90deg);
    }
    & .section-expand-button-down {
        height: 36px;
        transform: rotate(90deg);
    }


    & .section-expandable-container {
        background-color: var(--background);
        padding: 8px 16px 10px 16px;
        border-radius: 10px;
        border: 1px solid var(--border);

        & .section-total-invest-buttons-container {
            margin-top: 16px;
            margin-bottom: 10px;
        }

        & .section-total-invest-content {
            height: 150px;
            background-color: var(--background-alt);

            padding: 8px;
            background-color: var(--background-alt);
            border-radius: 10px;
        }
    }
}