@import '../../../vars.css';

.text {
    font-size: 12px;
    line-height: 14px;
    cursor: inherit;
}

.text.bold {
    font-weight: bold;
}

.text.weight-medium {
    font-weight: 500;
}

.text.min {
    font-size: 10px;
}

.text.small {
    font-size: 12px;
}

.text.regular {
    font-size: 14px;
}

.text.medium {
    font-size: 16px;
    line-height: 21px;
}

.text.medium-big {
    font-size: 17px;
    line-height: 21px;
}

.text.big {
    font-size: 18px;
    line-height: 21px;
}

.text.max {
    font-size: 20px;
    line-height: 21px;
}

.text.primary {
    color: var(--primary-text);
}

.text.secondary {
    font-weight: 300;
    color: var(--secondary-text);
}

.text.uppercase {
    text-transform: uppercase;
}

.text.capitalize {
    text-transform: capitalize;
}

.labeled-text {
    display: flex;
    flex-direction: column;
}

.labeled-text.inline {
    flex-direction: row;
}
