@import "../../vars.css";

.customer-info .info-section {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}
.customer-info .customer-info-no-data {
    width: 300px;
    position: absolute;
    left: 30%;
    height: 183px;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
}
.customer-info .no-data-image {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
.customer-info .customer-link {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.customer-info .customer-link.phone {
    line-height: 20px;
    text-decoration: none;
}

.customer-info .customer-link.email {
    margin: 20px 0;
}

.customer-info .aditional-info {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.customer-info .info-section .detail {
    margin-top: 10px;
}

.customer-info .customer-icon {
    color: var(--icon-dark);
    margin-right: 5px;
}

.close-customer-info {
    position: absolute;
    top: 10px;
    right: 10px;
}

.customer-name {
    display: block;
    width: 100%;

    &.name1 {
        margin-top: 15px;
    }

    &.name2 {
        margin-bottom: 15px;
    }
}
